inconsistency_checking/Law_Inconsistency_Checking___Long_Workflow.json
{
  "name": "Law Inconsistency Checking | Long Workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "=chatInput",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -660,
        -220
      ],
      "id": "709431c6-e030-465d-b63e-3b3d1a8f7adb",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "return {\"chatInput\":$input.first().json.body.chatInput}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -940,
        -220
      ],
      "id": "9a7b3260-5045-4673-a30b-c3b90c0c7c7d",
      "name": "User Query"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1400,
        -220
      ],
      "id": "37dade7c-c696-4828-92c7-ec0c96bfc52e",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "return {\n    \"headers\": {\n      \"host\": \"c18f-129-150-49-241.ngrok-free.app\",\n      \"user-agent\": \"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36\",\n      \"content-length\": \"74\",\n      \"accept\": \"*/*\",\n      \"accept-encoding\": \"gzip, deflate, br, zstd\",\n      \"accept-language\": \"en-US,en;q=0.9,de-DE;q=0.8,de;q=0.7,vi-VN;q=0.6,vi;q=0.5\",\n      \"content-type\": \"application/json\",\n      \"origin\": \"http://localhost:9002\",\n      \"priority\": \"u=1, i\",\n      \"referer\": \"http://localhost:9002/\",\n      \"sec-ch-ua\": \"\\\"Chromium\\\";v=\\\"134\\\", \\\"Not:A-Brand\\\";v=\\\"24\\\", \\\"Google Chrome\\\";v=\\\"134\\\"\",\n      \"sec-ch-ua-mobile\": \"?0\",\n      \"sec-ch-ua-platform\": \"\\\"Linux\\\"\",\n      \"sec-fetch-dest\": \"empty\",\n      \"sec-fetch-mode\": \"cors\",\n      \"sec-fetch-site\": \"cross-site\",\n      \"x-forwarded-for\": \"171.253.234.6\",\n      \"x-forwarded-host\": \"c18f-129-150-49-241.ngrok-free.app\",\n      \"x-forwarded-proto\": \"https\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"chatInput\": \"Đất lâm nghiệp bao gồm nhà ở, khu dân cư.\\r\\n\"\n    },\n    \"webhookUrl\": \"http://localhost:5678/webhook/8f126b0e-21dd-436b-a48e-2801c310963e\",\n    \"executionMode\": \"production\"\n  }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1140,
        -220
      ],
      "id": "3e054562-e104-443c-9725-31f36501c767",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "var fileExtension = $input.item.binary.data.fileExtension;\nif (fileExtension===\"markdown\") {fileExtension = 'md';}\n$input.item.binary.data.fileName += \".\"+fileExtension;\n\nreturn $input.item;\n// return {'a': fileExtension}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -20
      ],
      "id": "1b8d86c0-a132-4fab-a348-42400432d83d",
      "name": "Change Filename"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:180/api/v1/datasets/d97cf754190711f0b3383e5d6b430480/documents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -20
      ],
      "id": "45097b09-8fe1-476f-bc3e-7fc4bdc83efa",
      "name": "Upload File to RAGFlow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "v1yskh1LvTPwyPMf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:180/api/v1/datasets/d97cf754190711f0b3383e5d6b430480/chunks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "document_ids",
              "value": "={{ $json.data.map(item=>item.id) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        220
      ],
      "id": "e77bbf7f-d763-4880-9324-b192e7c3b7d7",
      "name": "Start File Index",
      "credentials": {
        "httpHeaderAuth": {
          "id": "v1yskh1LvTPwyPMf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:180/api/v1/datasets/d97cf754190711f0b3383e5d6b430480/documents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page_size",
              "value": "1"
            },
            {
              "name": "id",
              "value": "={{ $('Wait for Upload').item.json.data[0].id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        220
      ],
      "id": "971f940b-e00b-4833-99a6-acf72ca5efce",
      "name": "Get Indexing Progress",
      "credentials": {
        "httpHeaderAuth": {
          "id": "v1yskh1LvTPwyPMf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1977142-d9c8-42f4-9d0f-e7e2e4b77be3",
              "leftValue": "={{ $json.data.docs[0].progress }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -20,
        220
      ],
      "id": "3c0a7c91-ad77-4b1e-8c39-159b314ef480",
      "name": "If Done Indexing"
    },
    {
      "parameters": {
        "url": "=http://172.17.0.1:180/api/v1/datasets/d97cf754190711f0b3383e5d6b430480/documents/{{ $('Upload File to RAGFlow').first().json.data[0].id }}/chunks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page_size",
              "value": "500"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        60
      ],
      "id": "b29ca469-0695-46c7-a9fb-1cff22018580",
      "name": "Get List of Chunks",
      "credentials": {
        "httpHeaderAuth": {
          "id": "v1yskh1LvTPwyPMf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -720,
        220
      ],
      "id": "25bfa251-e3bf-41d7-b940-752218154c39",
      "name": "Wait for Upload",
      "webhookId": "ecb2ba55-2ebd-4257-b467-627488b33a35"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        200,
        420
      ],
      "id": "8eeacc8c-c3cf-44fc-874d-687d9264955b",
      "name": "Wait for Indexing",
      "webhookId": "02e2b442-65dc-4ef2-9c17-14d98895bcb0"
    },
    {
      "parameters": {
        "jsCode": "return {'list_of_chunks': $input.first().json.data.chunks.map(item=>item.content)};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        60
      ],
      "id": "701ff8f1-4e4e-43a4-9b30-48ad01697b9f",
      "name": "Return Chunk Contents"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        980,
        60
      ],
      "id": "f397b498-cd85-4dc6-898f-e686609eaf35",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const list_of_chunks = $input.first().json.list_of_chunks;\nvar list_of_queries = [];\nfor (const item of list_of_chunks) {\n  list_of_queries.push(\n    {\n      'query': item\n    }\n  )\n}\n\nreturn list_of_queries;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        60
      ],
      "id": "2a0e3837-62dc-406b-ba52-78ac0023f6b1",
      "name": "List of Queries"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KDpMDV6Q1bND0IOo",
          "mode": "list",
          "cachedResultName": "Law Inconsistency Checking | Detailed Logs (no context filter)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $json.query }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1200,
        160
      ],
      "id": "8864270f-714e-4fb8-be62-c4bcfe0e4fa8",
      "name": "Detailed Logs"
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {
          "headers": {
            "host": "c18f-129-150-49-241.ngrok-free.app",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36",
            "content-length": "74",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9,de-DE;q=0.8,de;q=0.7,vi-VN;q=0.6,vi;q=0.5",
            "content-type": "application/json",
            "origin": "http://localhost:9002",
            "priority": "u=1, i",
            "referer": "http://localhost:9002/",
            "sec-ch-ua": "\"Chromium\";v=\"134\", \"Not:A-Brand\";v=\"24\", \"Google Chrome\";v=\"134\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "171.253.234.6",
            "x-forwarded-host": "c18f-129-150-49-241.ngrok-free.app",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "chatInput": "Đất lâm nghiệp bao gồm nhà ở, khu dân cư.\r\n"
          },
          "webhookUrl": "http://localhost:5678/webhook/8f126b0e-21dd-436b-a48e-2801c310963e",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "User Query": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "User Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Change Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Filename": {
      "main": [
        [
          {
            "node": "Upload File to RAGFlow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File to RAGFlow": {
      "main": [
        [
          {
            "node": "Wait for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start File Index": {
      "main": [
        [
          {
            "node": "Get Indexing Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Indexing Progress": {
      "main": [
        [
          {
            "node": "If Done Indexing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Done Indexing": {
      "main": [
        [
          {
            "node": "Get List of Chunks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Indexing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get List of Chunks": {
      "main": [
        [
          {
            "node": "Return Chunk Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Upload": {
      "main": [
        [
          {
            "node": "Start File Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Indexing": {
      "main": [
        [
          {
            "node": "Get Indexing Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Chunk Contents": {
      "main": [
        [
          {
            "node": "List of Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Detailed Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List of Queries": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detailed Logs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "091d829b-27d9-42e0-a703-b8249edeb142",
  "meta": {
    "instanceId": "f75a8e70ea2778b34279bc302d4c7d3e2f1db8ecda945851eb32c430c7dee3f7"
  },
  "id": "eDyFwThuipyxNt2h",
  "tags": []
}