inconsistency_checking/Law_Inconsistency_Checking___Detailed_Logs__no_context_filter_.json
{
  "name": "Law Inconsistency Checking | Detailed Logs (no context filter)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:180/api/v1/retrieval",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $json.chatInput }}"
            },
            {
              "name": "dataset_ids",
              "value": "={{ ['24517d3616e711f0a9e206880d3088f6'] }}"
            },
            {
              "name": "similarity_threshold",
              "value": "0.2"
            },
            {
              "name": "vector_similarity_weight",
              "value": "0.5"
            },
            {
              "name": "top_k",
              "value": "10"
            },
            {
              "name": "page_size",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "id": "defb1882-c965-4f3d-a790-d6908887ff90",
      "name": "Retrieve From RAGFlow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "v1yskh1LvTPwyPMf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var related_chunks = [];\nfor (let i=0; i<$input.first().json.data.chunks.length; i++) {\n  let chunk =$('Retrieve From RAGFlow').first().json.data.chunks[i];\n  related_chunks.push(\n    {\n      'dataset_id': chunk.dataset_id,\n      'document_id': chunk.document_id,\n      'chunk_id': chunk.id,\n      'keywords': chunk.important_keywords,\n      'content': chunk.content\n    }\n  );\n}\n\nreturn {related_chunks:related_chunks};"
      },
      "id": "2c2532ff-1cc8-4194-857f-97f503401e24",
      "name": "Filter Retrieved Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        40
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"question\": {\n        \"type\": \"string\"\n      },\n      \"reason\": {\n        \"type\": \"string\"\n      }\n    },\n    \"required\": [\"question\", \"reason\"],\n    \"additionalProperties\": false\n  }\n}"
      },
      "id": "4d694cbf-642f-48b3-830c-e5d893b7069f",
      "name": "Potential Conflicts",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -980,
        560
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<proposal_law>\n{{ $('User Query').first().json.chatInput }}\n</proposal_llaw>\n\n<relevant_context>\n{{ $json.relevant_context }}\n</relevant_context>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Imagine that you are an expert in law inconsistency checking. You are given a proposal law and relevant context (the past official laws), which are both in Vietnamese. Your task is to generate 5 potential conflicts in the form of questions to the given proposal law. Please think step by step.\n\n<output>\nOutput in JSON format, specified as follows:\n```json\n[{\n  \"question\": # Your questions to indicate the potential conflicts in Vietnamese,\n  \"reason\": # The reason why this question may cause conflicts in Vietnamese, step by step and be as concise as possible.\n}]\n```\n</output>"
            }
          ]
        }
      },
      "id": "c6c6dda6-ebde-4012-8c92-dd4ba01f6698",
      "name": "CoT Potential Conflicts Generation",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -1040,
        320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<proposal_law>\n{{ $json.proposal_law }}\n</proposal_law>\n\n<question>\n{{ $json.question }}\n</question>\n\n<reason>\n{{ $json.reason }}\n</reason>\n\n<question_feedback>\n{{ $json.question_feedback }}\n</question_feedback>\n\n<reason_feedback>\n{{ $json.reason_feedback }}\n</reason_feedback>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=As an expert in Vietnamese linguistic and excel lawyer, you have an excellent ability in Vietnamese laws understanding and inconsistency checking.\n<instruction>\n1. You are given items as follow:\n- A proposal law: A law which is under consideration for any conflict with official laws\n- A conflict question: A question to raise some problems, which may lead to potential conflicts between the proposal law and the official laws\n- A reason: A reason behind the conflict question\n- A question feedback: A feedback to the conflict question\n- A reason feedback: A feedback to the reason\n2. Your task is to rewrite the conflict question and the reason (in Vietnamese) based on the feedback, the proposed law. DO NOT make thing up.\n<\\intruction>\n\n<output>\nGo directly to the feedback without any introduction. Be as detailed as possible. Response in JSON format, of the following form:\n```json\n{\n  'rewritten_question': # The rewritten question based on the feedback in Vietnamese,\n  'rewritten_reason': # The rewritten reason based on the feedback in Vietnamese\n}\n```\n</output>"
            }
          ]
        }
      },
      "id": "9f1dac11-39be-4ebd-951f-e33e771678f2",
      "name": "Refine 1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        280,
        320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<proposal_law>\n{{ $json.proposal_law }}\n</proposal_law>\n\n<question>\n{{ $json.question }}\n</question>\n\n<reason>\n{{ $json.reason }}\n</reason>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=As a legal expert and commentator on Vietnamese laws, your role is to provide constructive feedback on proposed legislation. \n\n<instruction>\n1. You are given a proposal law, a question to raise potential conflicts caused by the proposed law, and possible reasons that can lead to the conflicts.\n2. Your task involves analyzing proposed law to give feedback to the question that highlights potential conflicts, and the reasons behind those conflicts. You can consult the below criteria:\n- Relevant: Ensure the question and reasons are directly related to the proposed law and its context.\n- Informative: The question and reasons should reflect real and logical conflicts within the relevant legal framework.\n- Consistency: Avoid introducing new concepts or ideas that are not present in the proposal or relevant laws.\n- Specificity: Focus on concrete issues rather than abstract concepts, addressing the main points directly.\n3. For each feedback, recommend the way to improve the question (or the reason) to maximize the criteria.\n</instruction>\n\n<output>\nGo directly to the feedback without any introduction. Be as detailed as possible. Response in JSON format, of the following form:\n```json\n{\n  'question_feedback': # Your unified feedback, and recommendation for improvement for question written in Vietnamese,\n  'reason_feedback': # Your unified feedback, and recommendation for improvement for the reason written in Vietnamese\n}\n```\n</output>"
            }
          ]
        }
      },
      "id": "c6190a4d-4146-43fc-bb6c-9f84c60adc0f",
      "name": "Feedback 1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -280,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "let chunks=$input.first().json.related_chunks;\nlet result=\"\";\nif (chunks){\n  result=chunks.map(item=>item.content).join(\"\\n\\n\\n\\n\")\n}\nreturn {'relevant_context': result};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        40
      ],
      "id": "6b00aa52-8a26-4291-9f46-b489ad6ef9ad",
      "name": "Set Relevant Context"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"question_feedback\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"reason_feedback\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -300,
        1040
      ],
      "id": "5c340e6f-bac9-45a3-969f-cadd9447943f",
      "name": "Feedback Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae0c2955-1d90-4411-b8b4-c9439b07065c",
              "name": "question_feedback",
              "value": "={{ $json.output.question_feedback }}",
              "type": "string"
            },
            {
              "id": "00a535b7-bca2-4561-a38b-282d79f706be",
              "name": "reason_feedback",
              "value": "={{ $json.output.reason_feedback }}",
              "type": "string"
            },
            {
              "id": "615e0e64-4f0c-40b2-957a-7ec9eb7beda5",
              "name": "question",
              "value": "={{ $('Gather Information for Refine 1').item.json.question }}",
              "type": "string"
            },
            {
              "id": "a9f1ae83-617e-4581-b7ef-108089670034",
              "name": "reason",
              "value": "={{ $('Gather Information for Refine 1').item.json.reason }}",
              "type": "string"
            },
            {
              "id": "8c48df1a-7ddd-469a-ab10-ba55b572f127",
              "name": "proposal_law",
              "value": "={{ $('Gather Information for Refine 1').item.json.proposal_law }}",
              "type": "string"
            },
            {
              "id": "21383900-52f5-445c-b543-b76c6eb61c00",
              "name": "relevant_context",
              "value": "={{ $('Gather Information for Refine 1').item.json.relevant_context }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        320
      ],
      "id": "7023290b-93da-4163-b5c7-94eecafafa8d",
      "name": "Feedback 1 Mapping"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae0c2955-1d90-4411-b8b4-c9439b07065c",
              "name": "question_feedback",
              "value": "={{ $json.output.question_feedback }}",
              "type": "string"
            },
            {
              "id": "00a535b7-bca2-4561-a38b-282d79f706be",
              "name": "reason_feedback",
              "value": "={{ $json.output.reason_feedback }}",
              "type": "string"
            },
            {
              "id": "615e0e64-4f0c-40b2-957a-7ec9eb7beda5",
              "name": "question",
              "value": "={{ $('Gather Information for Refine 2').item.json.question }}",
              "type": "string"
            },
            {
              "id": "a9f1ae83-617e-4581-b7ef-108089670034",
              "name": "reason",
              "value": "={{ $('Gather Information for Refine 2').item.json.reason }}",
              "type": "string"
            },
            {
              "id": "8c48df1a-7ddd-469a-ab10-ba55b572f127",
              "name": "proposal_law",
              "value": "={{ $('Gather Information for Refine 2').item.json.proposal_law }}",
              "type": "string"
            },
            {
              "id": "21383900-52f5-445c-b543-b76c6eb61c00",
              "name": "relevant_context",
              "value": "={{ $('Gather Information for Refine 2').item.json.relevant_context }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        540
      ],
      "id": "d81053d8-c8d5-4659-9b57-d79f1bdb0576",
      "name": "Feedback 2 Mapping"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<proposal_law>\n{{ $json.proposal_law }}\n</proposal_law>\n\n<question>\n{{ $json.question }}\n</question>\n\n<reason>\n{{ $json.reason }}\n</reason>\n\n<original_question>\n{{ $('Gather Information for Refine 1').item.json.question }}\n</original_question>\n\n<original_reason>\n{{ $('Gather Information for Refine 1').item.json.reason }}\n</original_reason>\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=As a legal expert and commentator on Vietnamese laws, your role is to provide constructive feedback on proposed legislation. \n\n<instruction>\n1. You are given a text whose form like below:\n<proposal_law>\n# The proposal law we need to check for the inconsistency, in Vietnamese\n</proposal_law>\n\n<question>\n# A question to raise potential conflicts caused by the proposed law on the relevant context in Vietnamese. This may contain content not in the original. If there is, fix it.\n</question>\n\n<reason>\n# The reason behind the question in Vietnamese, answering why the question matter\n</reason>\n\n<original_question>\n# The original confict question in Vietnamese, use as a reference so that the improved question doesn't go astray\n</original_question>\n\n<original_reason>\n# The original confict reason in Vietnamese, use as a reference so that the improved question doesn't go astray\n</original_reason>\n\n\n2. Your task involves analyzing proposed law to give feedback to the question that highlights potential conflicts, and the reasons behind those conflicts. You can consult the below criteria:\n- Relevant: Ensure the question and reasons are directly related to the proposed law and its context.\n- Informative: The question and reasons should reflect real and logical conflicts within the relevant legal framework.\n- Consistency: Avoid introducing new concepts or ideas that are not present in the proposal or relevant laws.\n- Specificity: Focus on concrete issues rather than abstract concepts, addressing the main points directly.\n3. For each feedback, recommend the way to improve the question (or the reason) to maximize the criteria.\n</instruction>\n\n<output>\nGo directly to the feedback without any introduction. Be as detailed as possible. Response in JSON format, of the following form:\n```json\n{\n  'question_feedback': # Your unified feedback, and recommendation for improvement for question written in Vietnamese,\n  'reason_feedback': # Your unified feedback, and recommendation for improvement for the reason written in Vietnamese\n}\n```\n</output>"
            }
          ]
        }
      },
      "id": "72ea2ff8-81db-4480-aa0e-ee8583d649d5",
      "name": "Feedback 2",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -280,
        540
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<proposal_law>\n{{ $json.proposal_law }}\n</proposal_law>\n\n<question>\n{{ $json.question }}\n</question>\n\n<reason>\n{{ $json.reason }}\n</reason>\n\n<question_feedback>\n{{ $json.question_feedback }}\n</question_feedback>\n\n<reason_feedback>\n{{ $json.reason_feedback }}\n</reason_feedback>\n\n<original_question>\n{{ $('Gather Information for Refine 1').item.json.question }}\n</original_question>\n\n<original_reason>\n{{ $('Gather Information for Refine 1').item.json.reason }}\n</original_reason>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=As an expert in Vietnamese linguistic and excel lawyer, you have an excellent ability in Vietnamese laws understanding and inconsistency checking.\n<instruction>\n1. You are given items as follow:\n<proposal_law>\n# The proposal law we need to check for the inconsistency, in Vietnamese\n</proposal_law>\n\n<question>\n# A question to raise potential conflicts caused by the proposed law on the relevant context in Vietnamese. This may contain content not in the original. If there is, fix it.\n</question>\n\n<reason>\n# The reason behind the question in Vietnamese, answering why the question matter\n</reason>\n\n<question_feedback>\n# The feedback for the current question\n</question_feedback>\n\n<reason_feedback>\n# The feedback for the current reason\n</reason_feedback>\n\n<original_question>\n# The original confict question in Vietnamese, use as a reference so that the improved question doesn't go astray\n</original_question>\n\n<original_reason>\n# The original confict reason in Vietnamese, use as a reference so that the improved question doesn't go astray\n</original_reason>\n\n2. Your task is to rewrite the conflict question and the reason (in Vietnamese) based on the feedback, the proposed law. DO NOT make thing up. You should use the original question and reason, as well as the proposed law to eliminate all irrelevant context appear in the current question and reason.\n<\\intruction>\n\n<output>\nGo directly to the feedback without any introduction. Be as detailed as possible. Response in JSON format, of the following form:\n```json\n{\n  'rewritten_question': # The rewritten question based on the feedback in Vietnamese,\n  'rewritten_reason': # The rewritten reason based on the feedback in Vietnamese\n}\n```\n</output>"
            }
          ]
        }
      },
      "id": "b8646165-1fe4-4687-91a9-0527da957384",
      "name": "Refine 2",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        280,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "const list_of_questions = $json.output;\nconst relevant_context = $('Set Relevant Context').first().json.relevant_context;\nvar list_of_full_message = [];\nfor (const question of list_of_questions) {\n  list_of_full_message.push(\n    {\n      'question': question.question,\n      'reason': question.reason,\n      'proposal_law': $('User Query').first().json.chatInput,\n      'relevant_context': relevant_context\n    }\n  );\n}\n\nreturn list_of_full_message;"
      },
      "id": "e9d4d189-88b1-4e03-b76d-76326c5140c9",
      "name": "Gather Information for Refine 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const list_of_improved_questions = $input.all().map(item => item.json.output);\nconst relevant_context = $('Set Relevant Context').first().json.relevant_context;\nconst proposal_law = $('User Query').first().json.chatInput;\nvar list_of_enhanced_message = [];\nfor (const question of list_of_improved_questions) {\n  list_of_enhanced_message.push(\n    {\n      'question': question.rewritten_question,\n      'reason': question.rewritten_reason,\n      'proposal_law': proposal_law,\n      'relevant_context': relevant_context\n    }\n  );\n}\n\nreturn list_of_enhanced_message;"
      },
      "id": "319c3fc9-2aa5-403e-8416-911d640a771b",
      "name": "Gather Information for Refine 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:180/api/v1/retrieval",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $json.question }}"
            },
            {
              "name": "dataset_ids",
              "value": "={{ ['24517d3616e711f0a9e206880d3088f6'] }}"
            },
            {
              "name": "similarity_threshold",
              "value": "0.2"
            },
            {
              "name": "vector_similarity_weight",
              "value": "0.5"
            },
            {
              "name": "top_k",
              "value": "10"
            },
            {
              "name": "page_size",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "id": "180bc6b9-2e71-40e1-9768-d72b02eb4c2d",
      "name": "Retrieve From RAGFlow1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "v1yskh1LvTPwyPMf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1st refined questions\nconst first_refined_questions = $('Refine 1').all().map(item=>item.json.output);\n// 2nd refined questions\nconst second_refined_questions = $('Refine 2').all().map(item=>item.json.output);\n\nconst list_of_questions = [...first_refined_questions, ...second_refined_questions];\nconst proposal_law = $('User Query').first().json.chatInput;\nconst relevant_context = $('Set Relevant Context').first().json.relevant_context;\nvar list_of_full_questions = [];\nfor (const question of list_of_questions) {\n  list_of_full_questions.push(\n    {\n      'proposal_law': proposal_law,\n      'question': question.rewritten_question,\n      'reason': question.rewritten_reason,\n      'relevant_context': relevant_context\n    }\n  );\n}\n\nreturn list_of_full_questions;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        540
      ],
      "id": "2c878940-37d1-4ff3-b09c-98b315295e78",
      "name": "Prepare Information for New Retrieval"
    },
    {
      "parameters": {
        "jsCode": "var list_of_questions_with_new_context = [];\nfor (let i=0; i<$input.all().length; i++) {\n  const question = $('Prepare Information for New Retrieval').all()[i].json;\n  question.relevant_context = $input.all()[i].json.data.chunks.map(item=>item.content.trim()).join(\"\\n\\n=====================\\n\\n\");\n  list_of_questions_with_new_context.push(question);\n}\n\nreturn list_of_questions_with_new_context;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        540
      ],
      "id": "44144950-73ba-4492-92e6-47645dacce17",
      "name": "Prepare Input for Debating"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<proposal_law>\n{{ $json.proposal_law }}\n</proposal_law>\n\n<question>\n{{ $json.question }}\n</question>\n\n<reason>\n{{ $json.reason }}\n</reason>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=As an expert in Vietnamese linguistic and excel lawyer, you have an excellent ability in Vietnamese laws understanding and inconsistency checking.\n<instruction>\n1. You are given items as follow:\n<proposal_law>\n# The proposal law we need to check for the inconsistency, in Vietnamese\n</proposal_law>\n\n<question>\n# A question to raise potential conflicts caused by the proposed law on the relevant context in Vietnamese.\n</question>\n\n<reason>\n# The reason behind the question in Vietnamese, answering why the question matter\n</reason>\n\n2. Your task is to answer the conflict question and judge the reason (in Vietnamese) base on the proposed law. DO NOT make thing up.\n<\\intruction>\n\n<output>\n```json\n{\n  'answer': # The short answer for the question based on the proposal law in Vietnamese,\n  'reason': # The reason behind the answer, based on the proposal law in Vietnamese,\n  'violate': # Boolean, true if the question violates the proposal law\n}\n```\n</output>"
            }
          ]
        }
      },
      "id": "3ba86b57-38c6-449e-8ff0-9a2980e50f16",
      "name": "Proposal Answer 1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<official_law>\n{{ $json.relevant_context }}\n</official_law>\n\n<question>\n{{ $json.question }}\n</question>\n\n<reason>\n{{ $json.reason }}\n</reason>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=As an expert in Vietnamese linguistic and excel lawyer, you have an excellent ability in Vietnamese laws understanding and inconsistency checking.\n<instruction>\n1. You are given items as follow:\n<official_law>\n# The proposal law we need to check for the inconsistency, in Vietnamese\n</official_law>\n\n<question>\n# A question to raise potential conflicts caused by the proposed law on the relevant context in Vietnamese.\n</question>\n\n<reason>\n# The reason behind the question in Vietnamese, answering why the question matter\n</reason>\n\n2. Your task is to answer the conflict question and judge the reason (in Vietnamese) base on the official law. DO NOT make thing up.\n<\\intruction>\n\n<output>\n```json\n{\n  'answer': # The short answer for the question based on the official law in Vietnamese,\n  'reason': # The reason behind the answer, based on the official law in Vietnamese,\n  'violate': # Boolean, true if the question violates the official law\n}\n```\n</output>"
            }
          ]
        }
      },
      "id": "ee53ed36-0286-471c-9c1b-c22d7817ef48",
      "name": "Context Answer 1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1440,
        800
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"answer\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"reason\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n        \"violate\": {\n\t\t\t\"type\": \"boolean\"\n\t\t}\n\t}\n}"
      },
      "id": "a1815e16-d45a-4ff7-9dd9-c46c3ece99d2",
      "name": "Answer Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1760,
        1200
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1460,
        1100
      ],
      "id": "87b89137-36c4-4491-bc31-327709123285",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const list_of_proposal_answers = $('Proposal Answer 1').all().map(item=>item.json.output);\nconst list_of_context_answers = $('Context Answer 1').all().map(item=>item.json.output);\nconst list_of_potential_conflicts = $('Prepare Input for Debating').all().map(item=>item.json);\n\nvar list_of_comments_on_proposal_answers = [];\nfor (let i=0; i<list_of_proposal_answers.length; i++) {\n  list_of_comments_on_proposal_answers.push(\n    {\n      'conflict_question': list_of_potential_conflicts[i].question,\n      'reason_behind_the_question': list_of_potential_conflicts[i].reason,\n      'potential_violation': list_of_proposal_answers[i].violate || list_of_context_answers[i].violate,\n      'reason_on_proposal_law': {\n        'answer': list_of_proposal_answers[i].answer,\n        'reason': list_of_proposal_answers[i].reason\n      },\n      'reason_on_official_law': {\n        'answer': list_of_context_answers[i].answer,\n        'reason': list_of_context_answers[i].reason,\n        'citation': list_of_potential_conflicts[i].relevant_context\n      }\n    }\n  )\n}\n\nreturn list_of_comments_on_proposal_answers;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        560
      ],
      "id": "57f81411-9c03-414a-924e-13895def5c24",
      "name": "Analyze Answers"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n\n<html>\n  <head>\n    <meta charset=\"UTF-8\" />\n    <title>Proposal Law Comments</title>\n  </head>\n  <body>\n    <div class=\"container\">\n      <div class=\"proposal_law\">\n        <h1>Luật dự thảo</h1>\n        <blockquote>\n          {{ $('User Query').first().json.chatInput }}\n        </blockquote>\n      </div>\n      <div class=\"potential_conflict\">\n        <h1>Những mâu thuẫn tiềm tàng</h1>\n        <table>\n          <thead>\n            <tr>\n              <th>Câu hỏi</th>\n              <th>Suy diễn</th>\n            </tr>\n          </thead>\n          <tbody>\n            {{ $json.q2a_rows }}\n          </tbody>\n        </table>\n      </div>\n      <div class=\"answer_comparison\">\n        <h1>Suy diễn trên luật dự thảo và trên luật hiện hành</h1>\n        <h2>Bảng so sánh suy diễn trên luật dự thảo và trên luật hiện hành</h2>\n        <table>\n          <thead>\n            <tr>\n              <th>Câu hỏi</th>\n              <th>Có phạm quy không</th>\n              <th>Suy diễn trên luật dự thảo</th>\n              <th>Suy diễn trên luật hiện hành</th>\n              <th>Nguồn văn bản hiện hành</th>\n            </tr>\n          </thead>\n          <tbody>\n            {{ $json.answer_rows }}\n          </tbody>\n        </table>\n      </div>\n    </div>\n  </body>\n</html>\n\n<style>\n  .container {\n    background-color: #ffffff;\n    text-align: center;\n    padding: 16px;\n    border-radius: 8px;\n  }\n  \n  h1 {\n    color: #ff6d5a;\n    font-size: 24px;\n    font-weight: bold;\n    padding: 8px;\n  }\n  \n  h2 {\n    color: #909399;\n    font-size: 18px;\n    font-weight: bold;\n    padding: 8px;\n  }\n  \n  blockquote {\n    font-style: italic;\n    margin: 20px;\n    padding: 10px;\n    border-left: 2px solid #ccc;\n  }\n\n  table {\n    width: 100%;\n    border-collapse: collapse;\n  }\n\n  th, td {\n    border: 1px solid #ccc;\n    padding: 8px;\n    text-align: left;\n  }\n\n  th {\n    background-color: #f2f2f2;\n  }\n\n  tr:nth-child(even) {\n    background-color: #f9f9f9\n  }\n</style>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2740,
        560
      ],
      "id": "4028a1aa-8c60-4c5d-b97b-8922797a381a",
      "name": "HTML"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1840,
        560
      ],
      "id": "5107660e-abfe-4d95-b3fd-d9d5d1ea8fbe",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// // Loop over input items and add a new field called 'myNewField' to the JSON of each one\n// for (const item of $input.all()) {\n//   item.json.myNewField = 1;\n// }\n\n// return $input.all();\nlet html_code = {\n  q2a_rows: \"\",\n  answer_rows: \"\"\n};\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n$input.all().forEach(item => {\n  html_code.q2a_rows += `\n  <tr>\n    <td>${item.json.conflict_question}</td>\n    <td>${item.json.reason_behind_the_question}</td>\n  </tr>\n  `;\n\n  html_code.answer_rows += `\n  <tr>\n    <td>${item.json.conflict_question}</td>\n    <td>${item.json.potential_violation}</td>\n    <td>Answer: ${item.json.reason_on_proposal_law.answer}<br>Reason: ${item.json.reason_on_proposal_law.reason}</td>\n    <td>Answer: ${item.json.reason_on_official_law.answer}<br>Reason: ${item.json.reason_on_official_law.reason}</td>\n    <td>${item.json.reason_on_official_law.citation}</td>\n  </tr>\n  `;\n});\n\nreturn [html_code];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        560
      ],
      "id": "797d2ffa-029c-4c67-8369-03611fc116c1",
      "name": "Export to HTML Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "75551c23-344b-4bf2-a509-7bebf396c372",
              "leftValue": "={{ $json.relevant_context }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        360,
        40
      ],
      "id": "2452eaca-0a1b-4a9b-83ba-6e97358e1723",
      "name": "If"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n\n<html>\n  <head>\n    <meta charset=\"UTF-8\" />\n    <title>Proposal Law Comments</title>\n  </head>\n  <body>\n    Không có tài liệu liên quan\n  </body>\n</html>\n\n<style>\n  .container {\n    background-color: #ffffff;\n    text-align: center;\n    padding: 16px;\n    border-radius: 8px;\n  }\n  \n  h1 {\n    color: #ff6d5a;\n    font-size: 24px;\n    font-weight: bold;\n    padding: 8px;\n  }\n  \n  h2 {\n    color: #909399;\n    font-size: 18px;\n    font-weight: bold;\n    padding: 8px;\n  }\n  \n  blockquote {\n    font-style: italic;\n    margin: 20px;\n    padding: 10px;\n    border-left: 2px solid #ccc;\n  }\n\n  table {\n    width: 100%;\n    border-collapse: collapse;\n  }\n\n  th, td {\n    border: 1px solid #ccc;\n    padding: 8px;\n    text-align: left;\n  }\n\n  th {\n    background-color: #f2f2f2;\n  }\n\n  tr:nth-child(even) {\n    background-color: #f9f9f9\n  }\n</style>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2740,
        20
      ],
      "id": "a9a14fea-5778-4698-a0e2-08b681fb6c08",
      "name": "HTML1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -720,
        840
      ],
      "id": "5d3aee60-ec79-40c6-bdbe-90c0d5b1cdd2",
      "name": "Auto-fixing Output Parser2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        500,
        760
      ],
      "id": "50ade56c-6ac4-4692-8ac8-930180b81aa5",
      "name": "Auto-fixing Output Parser3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"rewritten_question\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"rewritten_reason\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        380,
        1100
      ],
      "id": "46c39aec-74a9-48af-b894-670b5903ca3f",
      "name": "Refine Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemma3:27b",
          "mode": "list",
          "cachedResultName": "gemma3:27b"
        },
        "options": {
          "maxRetries": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -20,
        1380
      ],
      "id": "fbc9c205-9a95-44f2-8fdd-4982401cff7a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CvCNIlHDu2ack4ZF",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1040,
        40
      ],
      "id": "86b87599-2395-4d43-a655-7b5d871aa7bf",
      "name": "User Query"
    }
  ],
  "pinData": {},
  "connections": {
    "Retrieve From RAGFlow": {
      "main": [
        [
          {
            "node": "Filter Retrieved Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Retrieved Chunks": {
      "main": [
        [
          {
            "node": "Set Relevant Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Potential Conflicts": {
      "ai_outputParser": [
        [
          {
            "node": "CoT Potential Conflicts Generation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "CoT Potential Conflicts Generation": {
      "main": [
        [
          {
            "node": "Gather Information for Refine 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refine 1": {
      "main": [
        [
          {
            "node": "Gather Information for Refine 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback 1": {
      "main": [
        [
          {
            "node": "Feedback 1 Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Relevant Context": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Feedback 1 Mapping": {
      "main": [
        [
          {
            "node": "Refine 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback 2 Mapping": {
      "main": [
        [
          {
            "node": "Refine 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback 2": {
      "main": [
        [
          {
            "node": "Feedback 2 Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refine 2": {
      "main": [
        [
          {
            "node": "Prepare Information for New Retrieval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gather Information for Refine 1": {
      "main": [
        [
          {
            "node": "Feedback 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gather Information for Refine 2": {
      "main": [
        [
          {
            "node": "Feedback 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve From RAGFlow1": {
      "main": [
        [
          {
            "node": "Prepare Input for Debating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Information for New Retrieval": {
      "main": [
        [
          {
            "node": "Retrieve From RAGFlow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input for Debating": {
      "main": [
        [
          {
            "node": "Proposal Answer 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Context Answer 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proposal Answer 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Answer 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Answer Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Context Answer 1",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Proposal Answer 1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Answers": {
      "main": [
        [
          {
            "node": "Export to HTML Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Analyze Answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export to HTML Code": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CoT Potential Conflicts Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        []
      ]
    },
    "Auto-fixing Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Feedback 2",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Feedback 1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Refine 1",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Refine 2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Refine Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CoT Potential Conflicts Generation",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Feedback 1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Refine 1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Feedback 2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Refine 2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser3",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Proposal Answer 1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Context Answer 1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "User Query": {
      "main": [
        [
          {
            "node": "Retrieve From RAGFlow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bff0ce95-5568-4af7-999f-2f356db501ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f75a8e70ea2778b34279bc302d4c7d3e2f1db8ecda945851eb32c430c7dee3f7"
  },
  "id": "KDpMDV6Q1bND0IOo",
  "tags": []
}