inconsistency_checking/Law_Inconsistency_Checking___Short_Workflow.json
{
  "name": "Law Inconsistency Checking | Short Workflow",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SRVZzy6FJ4m7dQYJ",
          "mode": "list",
          "cachedResultName": "Law Inconsistency Checking | Direct Law Comparison"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $json.query }}"
          },
          "matchingColumns": [
            "chatInput"
          ],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1340,
        240
      ],
      "id": "0e2bc2d8-9059-4fdf-bda5-46e7e1f6240c",
      "name": "Direct Comparison"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "=chatInput",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -660,
        -220
      ],
      "id": "25108be9-6b92-42c3-a3c4-dcf98ba211b8",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "return {\"chatInput\":$input.first().json.body.chatInput}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -940,
        -220
      ],
      "id": "b51b4b54-c0c1-460a-a9ed-1663012f058c",
      "name": "User Query"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1400,
        -220
      ],
      "id": "29bb0afb-17a8-4e81-a048-f548b8491bf5",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "return {\n    \"headers\": {\n      \"host\": \"c18f-129-150-49-241.ngrok-free.app\",\n      \"user-agent\": \"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36\",\n      \"content-length\": \"74\",\n      \"accept\": \"*/*\",\n      \"accept-encoding\": \"gzip, deflate, br, zstd\",\n      \"accept-language\": \"en-US,en;q=0.9,de-DE;q=0.8,de;q=0.7,vi-VN;q=0.6,vi;q=0.5\",\n      \"content-type\": \"application/json\",\n      \"origin\": \"http://localhost:9002\",\n      \"priority\": \"u=1, i\",\n      \"referer\": \"http://localhost:9002/\",\n      \"sec-ch-ua\": \"\\\"Chromium\\\";v=\\\"134\\\", \\\"Not:A-Brand\\\";v=\\\"24\\\", \\\"Google Chrome\\\";v=\\\"134\\\"\",\n      \"sec-ch-ua-mobile\": \"?0\",\n      \"sec-ch-ua-platform\": \"\\\"Linux\\\"\",\n      \"sec-fetch-dest\": \"empty\",\n      \"sec-fetch-mode\": \"cors\",\n      \"sec-fetch-site\": \"cross-site\",\n      \"x-forwarded-for\": \"171.253.234.6\",\n      \"x-forwarded-host\": \"c18f-129-150-49-241.ngrok-free.app\",\n      \"x-forwarded-proto\": \"https\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"chatInput\": \"Đất lâm nghiệp bao gồm nhà ở, khu dân cư.\\r\\n\"\n    },\n    \"webhookUrl\": \"http://localhost:5678/webhook/8f126b0e-21dd-436b-a48e-2801c310963e\",\n    \"executionMode\": \"production\"\n  }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1140,
        -220
      ],
      "id": "904bae6f-0275-4846-8809-e76d0ea52cbd",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "var fileExtension = $input.item.binary.data.fileExtension;\nif (fileExtension===\"markdown\") {fileExtension = 'md';}\n$input.item.binary.data.fileName += \".\"+fileExtension;\n\nreturn $input.item;\n// return {'a': fileExtension}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -20
      ],
      "id": "0ad39871-6d48-4a96-b248-66fe27a46681",
      "name": "Change Filename"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:180/api/v1/datasets/d97cf754190711f0b3383e5d6b430480/documents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -20
      ],
      "id": "35c09cee-e333-4cad-aa94-4814fafa7cd0",
      "name": "Upload File to RAGFlow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "v1yskh1LvTPwyPMf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:180/api/v1/datasets/d97cf754190711f0b3383e5d6b430480/chunks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "document_ids",
              "value": "={{ $json.data.map(item=>item.id) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        220
      ],
      "id": "4af57ab8-a2b3-48ca-8d49-f0ade7b8a837",
      "name": "Start File Index",
      "credentials": {
        "httpHeaderAuth": {
          "id": "v1yskh1LvTPwyPMf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:180/api/v1/datasets/d97cf754190711f0b3383e5d6b430480/documents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page_size",
              "value": "1"
            },
            {
              "name": "id",
              "value": "={{ $('Wait for Upload').item.json.data[0].id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        220
      ],
      "id": "8f115b49-9b07-4cfa-85d1-2c680d422c08",
      "name": "Get Indexing Progress",
      "credentials": {
        "httpHeaderAuth": {
          "id": "v1yskh1LvTPwyPMf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1977142-d9c8-42f4-9d0f-e7e2e4b77be3",
              "leftValue": "={{ $json.data.docs[0].progress }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -20,
        220
      ],
      "id": "b2396115-01f1-481b-8e51-9173213d6df5",
      "name": "If Done Indexing"
    },
    {
      "parameters": {
        "url": "=http://172.17.0.1:180/api/v1/datasets/d97cf754190711f0b3383e5d6b430480/documents/{{ $('Upload File to RAGFlow').first().json.data[0].id }}/chunks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page_size",
              "value": "500"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        60
      ],
      "id": "6e4822bc-37a3-4288-81e6-19bb46f26266",
      "name": "Get List of Chunks",
      "credentials": {
        "httpHeaderAuth": {
          "id": "v1yskh1LvTPwyPMf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -720,
        220
      ],
      "id": "98eee7ee-946a-402a-bf6d-870f750def69",
      "name": "Wait for Upload",
      "webhookId": "5fedaba0-d6fe-44fd-8862-42dd21426557"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        200,
        420
      ],
      "id": "23757cd4-6730-459c-8a34-bb51d42b2ece",
      "name": "Wait for Indexing",
      "webhookId": "c9eac393-bfdf-4d13-87b1-417b924ef73f"
    },
    {
      "parameters": {
        "jsCode": "return {'list_of_chunks': $input.first().json.data.chunks.map(item=>item.content)};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        60
      ],
      "id": "b9d05ff0-6004-47f2-a8d9-bfd261f730b9",
      "name": "Return Chunk Contents"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        980,
        60
      ],
      "id": "7369924b-734a-4eba-8042-17c278f7de8c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const list_of_chunks = $input.first().json.list_of_chunks;\nvar list_of_queries = [];\nfor (const item of list_of_chunks) {\n  list_of_queries.push(\n    {\n      'query': item\n    }\n  )\n}\n\nreturn list_of_queries;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        60
      ],
      "id": "6c39321e-4d56-46c4-98ed-7b138b63874b",
      "name": "List of Queries"
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {
          "headers": {
            "host": "c18f-129-150-49-241.ngrok-free.app",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36",
            "content-length": "74",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9,de-DE;q=0.8,de;q=0.7,vi-VN;q=0.6,vi;q=0.5",
            "content-type": "application/json",
            "origin": "http://localhost:9002",
            "priority": "u=1, i",
            "referer": "http://localhost:9002/",
            "sec-ch-ua": "\"Chromium\";v=\"134\", \"Not:A-Brand\";v=\"24\", \"Google Chrome\";v=\"134\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "171.253.234.6",
            "x-forwarded-host": "c18f-129-150-49-241.ngrok-free.app",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "chatInput": "Đất lâm nghiệp bao gồm nhà ở, khu dân cư.\r\n"
          },
          "webhookUrl": "http://localhost:5678/webhook/8f126b0e-21dd-436b-a48e-2801c310963e",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "User Query": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "User Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Change Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Filename": {
      "main": [
        [
          {
            "node": "Upload File to RAGFlow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File to RAGFlow": {
      "main": [
        [
          {
            "node": "Wait for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start File Index": {
      "main": [
        [
          {
            "node": "Get Indexing Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Indexing Progress": {
      "main": [
        [
          {
            "node": "If Done Indexing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Done Indexing": {
      "main": [
        [
          {
            "node": "Get List of Chunks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Indexing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get List of Chunks": {
      "main": [
        [
          {
            "node": "Return Chunk Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Upload": {
      "main": [
        [
          {
            "node": "Start File Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Indexing": {
      "main": [
        [
          {
            "node": "Get Indexing Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Chunk Contents": {
      "main": [
        [
          {
            "node": "List of Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Direct Comparison",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Direct Comparison": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List of Queries": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2956a261-f432-46e5-8842-100ccfc3991c",
  "meta": {
    "instanceId": "f75a8e70ea2778b34279bc302d4c7d3e2f1db8ecda945851eb32c430c7dee3f7"
  },
  "id": "ZafsU5tyv71BwlDN",
  "tags": []
}