data_generation/One_Chunk_Direct_Question_Generator.json
{
  "name": "One Chunk Direct Question Generator",
  "nodes": [
    {
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -160,
        480
      ],
      "id": "3c6ad2bb-019c-431f-b730-a1895bd975e1",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "GXvDmwYMI0xtVyaU",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        -20
      ],
      "id": "01b541ab-ae0a-48ed-bcdb-584d31acdf31",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "return {\n  'chunk': \"Frank Herbert's \\\"Dune,\\\" first published in 1965, is a seminal work of science fiction that intricately weaves themes of politics, religion, ecology, and human evolution into a sweeping narrative. Set in a distant future where noble houses vie for control over the desert planet of Arrakis, commonly known as Dune, the story follows Paul Atreides, the heir of House Atreides. Arrakis is the only source of the universe's most valuable substance, \\\"spice\\\" or melange, which is essential for space travel and enhances mental abilities. The novel opens with the Atreides family being assigned stewardship of Arrakis, a move that sets off a chain of events leading to betrayal, conflict, and transformation. The landscape of Dune is harsh and unforgiving, characterized by vast deserts, massive sandworms, and the intricate culture of the Fremen, the planet's indigenous people who adapt remarkably to their arid environment. The Fremen’s deep connection to their land and their prophetic beliefs play a crucial role in the unfolding drama, especially as Paul discovers his own latent abilities and destiny. As he navigates the treacherous political landscape, facing the machinations of rival House Harkonnen and the Emperor, Paul grows from a sheltered boy into a formidable leader and messianic figure, grappling with the weight of prophecy and the moral implications of power. Herbert's rich world-building is complemented by his exploration of the intricate relationship between humanity and its environment, particularly through the lens of ecological sustainability and the consequences of resource exploitation. The novel delves into the idea that control over spice translates to control over the universe, making Arrakis a focal point of imperial ambitions and a site of cultural conflict. Central to the narrative is the concept of the “Chosen One,” as Paul embodies the complexities of leadership and the burdens of prophecy, highlighting the often-blurred lines between heroism and tyranny. The themes of loyalty, betrayal, and the cyclical nature of history resonate throughout the text, inviting readers to reflect on the dynamics of power and the human condition. \\\"Dune\\\" is not merely a tale of adventure; it is an intricate philosophical discourse that challenges readers to consider the implications of their own choices and the interconnectedness of all life forms. The novel's profound impact is evident in its lasting influence on the science fiction genre and its adaptations into various media, including films, television series, and games. Herbert’s narrative techniques, such as his use of epigraphs and shifting perspectives, enrich the storytelling and provide depth to the characters and their motivations. As Paul embraces his role as the Kwisatz Haderach, the prophesied savior of the Fremen, he must confront the realities of his power and the potential for violence that accompanies it. The legacy of \\\"Dune\\\" endures as a cautionary tale about the perils of unchecked ambition and the importance of ecological stewardship. It remains a cornerstone of speculative fiction, prompting discussions on leadership, ethics, and the future of humanity in an ever-evolving universe. Through its multifaceted characters and intricate plot, \\\"Dune\\\" encourages readers to ponder their own positions in the tapestry of life, making it a timeless reflection on the human experience.\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        -20
      ],
      "id": "30f2d400-9a76-4b16-9be3-4dff1a948843",
      "name": "Set Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Imagine that you are a linguistic expert. Based on the content provided below, write 10 questions for me. Be careful about numbers, and DO NOT make things up. Only rely on the provided context.\nYour response should go directly to the first question, without any introduction or number indices for each question. Enter a newline for new question.\n<example>\nThe provided content is:\n##############\n\"Hello, my name is Groq\"\n##############\nThe 10 questions are:\nWhat is my name?\nWho am I?\n... untile the 10th question.\n<\\example>\n\nThe provided content is:\n##############\n{{ $json.chunk }}\n##############\nThe 10 questions are:",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -60,
        -20
      ],
      "id": "ae4df98f-fabb-4140-a7f2-6844d289d6a5",
      "name": "Generate Questions"
    },
    {
      "parameters": {
        "options": {
          "numberOfItems": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        560,
        480
      ],
      "id": "6196e311-a00a-46ce-a782-d0ecd514eac1",
      "name": "Question List Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        20,
        200
      ],
      "id": "c246c375-d8fd-40ec-b46a-0d90f1c6bdaf",
      "name": "Auto-fixing Question List Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        820,
        220
      ],
      "id": "e2e4da56-f704-478f-b1b1-69ad2fcb82ec",
      "name": "Auto-fixing Answer JSON Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Imagine that you are an expert in linguistic. You are give a content as source information and a question. You need to find the relevant pieces in the given context and answer the question. Be succinct and direct to the answer, no introduction.\n<example>\nProvided context: Hello. My name is Tri.\nQuestion: Who am I?\nAnswer: Tri\n<\\example>\n##########\nProvided context: {{ $('Set Data').item.json.chunk }}\nQuestion: {{ $json.response.text }}\nAnswer:",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        640,
        -20
      ],
      "id": "d836bf27-1636-4e18-9b05-f0b3fc002677",
      "name": "Generate Answers"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-python.pythonFunction",
      "typeVersion": 1,
      "position": [
        1480,
        -20
      ],
      "id": "af3117a7-35b8-4b27-8718-b0ca20d79781",
      "name": "Write to CSV File"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Questions",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Question List Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generate Answers",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Answer JSON Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "Generate Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question List Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Question List Parser",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Auto-fixing Answer JSON Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate Questions": {
      "main": [
        [
          {
            "node": "Generate Answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Question List Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Questions",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Answer JSON Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Answers",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate Answers": {
      "main": [
        [
          {
            "node": "Write to CSV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cd8274d6-f1f5-482f-84e0-000e2c3fe890",
  "meta": {
    "instanceId": "86431e8481febfe69a6ca3d9ea0e47205d7f5ca8cff8f316f5b0e37aeb4efc92"
  },
  "id": "cgp1WgLvm5BzgdpS",
  "tags": []
}